@model AmbulancePCR.Models.QAIssueDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <style type="text/css">

        dl {
            display: flex;
            flex-flow: row wrap;
            border: inset;
            border-width: medium;
            background-color: white;
        }

        dt {
            flex-basis: 20%;
            padding: 2px 4px;
            background: #333;
            text-align: right;
            color: #fff;
        }

        dd {
            flex-basis: 70%;
            flex-grow: 1;
            margin: 0;
            padding: 2px 4px;
            border-bottom: 1px solid #333;
        }
    </style>
    <dl>

        <dt>
            @Html.DisplayNameFor(model => model.IncidentNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IncidentNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrimaryCareProvider)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrimaryCareProvider)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PtLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PtLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsResolved)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsResolved)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateModified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateModified)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupervisorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupervisorName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
