<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - AmbulancePCR</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link type="text/css" rel="stylesheet" href="~/Content/Site.css">
</head>
<body>
    <style>
        div#navBar {
            background-color: black;
        }
        img#star {
            width: auto;
            height: auto;
            max-height: 40px;
            max-width: 40px;
            margin-top: 5px;
        }
    </style>
    <div id="navBar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img id="star" src="~/Images/StarOfLife.png"/>
                @Html.ActionLink("AmbulancePCR", "Index", "Home", new { area = "" }, new { @class = "navbar-brand", style = "color:white" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("PCR", "Index", "PCR", null, new { style = "color:white" })</li>
                    <li>@Html.ActionLink("Issues", "Index", "QAIssue", null, new { style = "color:white" })</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - AmbulancePCR - Kevin Blanchard</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
